[data-md-color-scheme="allstarlink"] {
    /* Primary color shades */

    --md-primary-fg-color:               rgb(243, 66, 19);
    --md-primary-fg-color--light:        rgb(243, 66, 19);
    --md-primary-fg-color--dark:         rgb(243, 66, 19);
    /**
    --md-primary-bg-color:               hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light:        hsla(0, 0%, 100%, 0.7);
    **/

    /* Accent color shades */
    --md-accent-fg-color:                rgb(243, 66, 19);
    --md-accent-fg-color--transparent:   rgb(243, 66, 19);
    /**
    --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7);
    **/

    /* The navbar header */
    .md-header {
        background: #e8e8e8;
        color: black;
    }

    /* Link Colors */
    --md-typeset-a-color:var(--md-accent-fg-color);

    /* General Typography */
    .md-typeset {
        line-height: 1.5em;
    }

    .md-typeset h1 {
        line-height: 1.5em;
        margin: 0 0 0.5em 0;
    }

    .md-typeset li {
        line-height: 1.5em;
        margin: 0 0 0.3em 0;
    }
}